.content_avantage {
    min-height: 1080px;
    background-image: url("/img/bg-2.png");
    @include displayFlex(row,start,start,113px);
    //padding-left: 140px;
    position: relative;
    background-size: cover;
    .details {
        width: 100%;
        
    padding-top: 108px;
        @include displayFlex(column,start,start,30px);
        position: relative;
        .info {
            @include respond-from("medium"){
                width: 100%;
            }
            h2 {
                font-size: 48px;
                line-height: 52px;
                font-weight: 800;
                color: $text_color_primary;
                @include respond-from("xxlarge"){
                   font-size: 35px;
                }
                span {
                    color: $secondary;
                }
            }
            p {
                font-size: 17px;
                line-height: 24px;
                color: $text_color_primary;
                font-weight: 400;
                @include respond-from("xxlarge"){
                    font-size: 14px;
                }
            }
        }
        .list {
            @include respond-from("medium"){
                width: 100%;
            }
            display: grid;
            grid-template-columns: repeat(4,1fr);
            @include respond-from("large"){
                grid-template-columns: repeat(3,1fr);
            }
            @include respond-from("medium"){
                grid-template-columns: repeat(2,1fr);
            }
            @include respond-from("small"){
                grid-template-columns: repeat(1,1fr);
            }
            gap: 26px;
            .item {
                @include displayFlex(column,center,center,10px);
                @include border-radius-all(32.5px);
                
                text-align: center;
                width: 260px;
                height: 250px;
                
                @include respond-from("xxlarge"){
                    width: 100%;
                }
                @include respond-from("medium"){
                    width: 100%;
                }
                @include respond-from("small"){
                    width: 100%;
                    height: 150px;
                }
                border: 1px solid rgba(237, 243, 254, 0.1);
                @include px(21,21);
                transition: all .5s ease-in-out;
                cursor: context-menu;
                figure {
                    width: 50px;
                    @include respond-from("xxlarge"){
                        width: 25px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                h4 {
                    font-size: 14px;
                    color: $secondary;
                    @include respond-from("xxlarge"){
                        font-size: 13px;
                    }
                }
                p {
                    font-size: 12px;
                    @include respond-from("xxlarge"){
                        font-size: 10px;
                    }
                    line-height: 16px;
                }
                &:hover {
                    background-color: rgba($color: $primary, $alpha: .8);
                }
            }
        }
    }
}