.content_contact {
    min-height: 1080px;
    background-image: url("/img/bg-4.png");
    background-size: cover;
    //padding-left: 140px;
    position: relative;
    .content_inline {
        padding-top: 108px;

        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 113px;        
        width: 100%;
        @include respond-from("large"){
            gap: 50px;
        }
        @include respond-from("mediumlarge"){
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 80px;
        }
        .details {
            @include displayFlex(column,center,start,30px);
            width: 100%;
            .info {
                width: 100%;
                h2 {
                    font-size: 48px;
                    line-height: 52px;
                    font-weight: 800;
                    color: $text_color_primary;
                    span {
                        color: $secondary;
                    }
                }
                p {
                    font-size: 17px;
                    line-height: 24px;
                    color: $text_color_primary;
                    font-weight: 400;
                }
            }
            form {
                input,textarea {
                    width: 100%;
                    height: 65px;
                    border-radius: 32px;
                    border: 1px solid rgba($color: #EDF3FE, $alpha: 0.1);
                    @include px(20,20);
                    font-size: 16px;
                    color: $text_color_primary;
                    margin-bottom: 10px;
                }
                textarea {
                    height: 360px;
                    @include py(20,20);
                }
                button {
                    background-color: $secondary;
                    color: $text_color_primary;
                    @include px(20,20);
                    @include py(20,20);
                    border-radius: 32px;
                    float: right;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    &:hover {
                        background-color: $primary;
                    }
                }
            }
        }
        .maps_content {
            width: 100%;
            border-radius: 32px;
            background-color: $thirty;
            .maps {
                width: 100%;
                height: 515px;
                @include respond-from("small"){
                    height: 250px;
                }
                iframe {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 32px;
                    border-top-right-radius: 32px;
                }
            }
            ul {
                @include px(40,20);
                @include py(10,10);
                @include displayFlex(row,start,start,25px);
                row-gap: 5px;
                li{
                    max-width: 300px;
                    color: black;
                    i {
                        color: $secondary;
                    }
                }
            }
        }
    }
}