.content_corporate {
    min-height: 1080px;
    height: auto;
    background-image: url("/img/bg-3.png");
    @include displayFlex(row,start,start,113px);
    
    //padding-left: 140px;
    position: relative;
    .details {
        padding-top: 108px;
        @include displayFlex(column,center,start,30px);
        position: relative;
        .info {
            width: 50%;
            @include respond-from("xlarge") {
                width: 70%;
            }
            @include respond-from("medium") {
                width: 100%;
            }
            h2 {
                font-size: 48px;
                line-height: 52px;
                font-weight: 800;
                color: $text_color_primary;
                margin-bottom: 20px;
                span {
                    color: $secondary;
                }
                @include respond-from("medium") {
                    font-size: 30px;
                    line-height: 35px;
                }
            }
            p {
                font-size: 17px;
                line-height: 24px;
                color: $text_color_primary;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
        .slider_corporate {
            margin: 0;
            width: 70%;
            @include respond-from("xxlarge") {
                width: 100%;
            }
            .swiper-slide {
                border: 1px solid rgba($color: #EDF3FE, $alpha: 0.1);
                border-radius: 32px;
                padding: 10px;
                a {
                    display: block;
                    width: 100%;
                    height: 230px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 32px;
                    }
                }
            }
        }
        .swiper-button-prev , .swiper-button-next {
            border: 1px solid rgba($color: #EDF3FE, $alpha: 0.1);
            border-radius: 100%;
            width: 60px;
            height: 60px;
            font-size: 20px;
            color: $text_color_primary;
            top: 80%;
            &::after {
                content: none;
            }
            @include respond-from("xxlarge") {
                display: none;
            }
        }
        .swiper-button-prev {
                left: -70px;
        }
        .swiper-button-next {
            right: -70px;
    }
    }
}