.content_info {
        min-height: 1080px;
        background-image: url("/img/bg-1.png");
        position: relative;
        background-size: cover;
        .information {
            background-color: $primary;
            height: 200px;
            .container {
                height: 100%;
            }
            .list {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                @include respond-from("mediumlarge"){
                    grid-template-columns: repeat(2,1fr);
                   
                }
                .item {
                    position: relative;
                    @include displayFlex(column,center,center,0px);
                    @include respond-to("large"){
                        &:not(:last-child)::after {
                            content: "";
                            position: absolute;
                            border-right: 1px dashed $text_color_primary;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 60%;
                        }
                    }
                    @include respond-from("mediumlarge"){
                        font-size: 12px;
                        &:nth-child(odd)::after {
                            content: "";
                            position: absolute;
                            border-right: 1px dashed $text_color_primary;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 60%;
                        }
                    }
                    span {
                        font-size: 60px;
                        line-height: 72px;
                        color: $text_color_primary;
                        font-weight: 700;
                        @include respond-from("small"){
                            font-size: 40px;
                        }
                    }
                    p {
                        font-size: 14px;
                        line-height: 18px;
                        color: $secondary;
                        text-align: center;
                        @include respond-from("small"){
                            font-size: 12px;
                        }
                    }
                    
                }
            }
        }
    .how_register {
        padding-top: 108px;
        //padding-left: 140px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @include respond-from("large"){
            grid-template-columns: repeat(1,1fr);
        }
        .details{
            width: 100%;
            @include displayFlex(column,center,center,30px);
            @include respond-from("large"){
                margin-bottom: 30px;
            }
            h2 {
                font-size: 48px;
                line-height: 52px;
                font-weight: 800;
                
                color: $text_color_primary;
                span {
                    color: $secondary;
                }
            }
            p {
                font-size: 17px;
                line-height: 24px;
                color: $text_color_primary;
                font-weight: 400;
            }
            .bullets {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap:62px;
                row-gap: 30px;
                .item {
                text-align: center;
                border-radius: 100%;
                border:1px solid $thirty;
                width: 161px;
                height: 161px;
                @include respond-from("small"){
                    width: 120px;
                    height: 120px;
                    font-size: 12px;
                }
                font-size: 16px;
                @include displayFlex(column,center,center,10px);
                position: relative;
                &:nth-child(odd)::after {
                    position: absolute;
                    content: "";
                    background-image: url("/img/right.png");
                    width: 17px;
                    height: 33px;
                    top: 50%;
                    transform: translateY(-50%);
                    right:-42px;
                }
                p {
                    color: $secondary;
                    @include respond-from("small"){
                        font-size: 12px;
                    }
                }
                }
            }
        }
        figure {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

