
.btn {
    background-color: $secondary;
    @include py(10,10);
    @include px(10,10);
}

.container {
    width: $container;
    margin:0 auto;
    position: relative;
    @include respond-from("xxlarge"){
        padding: 0 30px;
        width: 100%;
    }
    @include respond-from("xlarge"){
        padding: 0 10px;
        width: 100%;
    }
}


.btn_empty {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $text_color_primary;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border:1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.number_of_page {
    position: absolute;
    top: 0;
    left: 0;
    @include displayFlex(row,center,center,5px);
    @include respond-to("xxlarge"){
        top: 10%;
        left: 5%
    };
    @include respond-to("xlarge"){
        top: 2%;
        left: 0%
    };
    @include respond-from("xlarge"){
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    span {
        font-size: 72px;
        line-height: 96px;
        font-weight: 200;
    }
    p{
        width: 63px;
        text-align: left;
        font-size: 14px;
        color: $secondary;
        font-weight: 400;
        line-height: 18px;
    }
}

.ball {
    position: absolute;    
    background-image: url("/img/ball.png");
    background-size: contain;
}

.ball-1 {
    width: 283px;
    height: 283px;
    top: 10%;
    right: 5%;
}

.ball-2 {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 5%;
}

.ball-3 {
    width: 377px;
    height: 376px;
    top: -10%;
    right: 20%;
}
.ball-4 {
    width: 260px;
    height: 260px;
    top: 50%;
    left: 2%;
}
.ball-5 {
    width: 180px;
    height: 180px;
    top: 70%;
    left: 40%;
}
.ball-6 {
    width: 143px;
    height: 143px;
    top: 40%;
    right: 5%;
}
.ball-7 {
    width: 522px;
    height: 522px;
    top: 5%;
    right: 5%;
}
.ball-8 {
    width: 179px;
    height: 179px;
    top: 40%;
    left: 5%;
}
.ball-9 {
    width: 240px;
    height: 240px;
    bottom: 8%;
    right: 50%;
}

.ball-10 {
    width: 153px;
    height: 153px;
    top: 50%;
    right: 4%;
}

.ball-11 {
    width: 240px;
    height: 240px;
    bottom: -10%;
    left: 5%;
}