
@mixin satirsinirlama($val){
    display: -webkit-box;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  
  
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

  @mixin respond-from($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

  @mixin px($left,$right){
    @if($left >= 0){
      padding-left: #{$left}px;
    }
    @if ($right >= 0) {
      padding-right: #{$right}px;
    }
  }

  @mixin py($top,$bottom){
    @if($top>= 0){
      padding-top: #{$top}px;
    }
    @if($bottom >=0){
      padding-bottom: #{$bottom}px;
    }
  }

  @mixin mx($left,$right){
    @if($left >= 0){
      margin-left: #{$left}px;
    }
    @if ($right >= 0) {
      margin-right: #{$right}px;
    }
  }

  @mixin my($top,$bottom){
    @if($top>= 0){
      margin-top: #{$top}px;
    }
    @if($bottom >=0){
      margin-bottom: #{$bottom}px;
    }
  }

  @mixin displayFlex($direction,$content,$items,$gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: wrap;
    gap: $gap;
  }

  @mixin circle-outline($val,$color) {
    border:$val solid $color;
    border-radius: 50%;
    @include displayFlex(row,center ,center ,0 );
  }

  @mixin border-radius-all($val) {
    border-radius: $val;
  }

  @mixin border-radius($tleft,$tright,$bleft,$bright) {
    border-top-left-radius: $tleft;
    border-top-right-radius: $tright;
    border-bottom-left-radius: $bleft;
    border-bottom-right-radius: $bright;
  }


